{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
