/vendor
composer.phar
composer.lock
.idea/*
.tox
AUTHORS
ChangeLog
doc/build
*.egg
*.egg-info
public/bower_assets
public/bower_assets/*
*.log
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.testing

