
#logo a {
    background: url("../img/open-stack-cloud-computing-logo.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    height: 54px;
    margin-left: -10px;
    margin-top: 8px;
    text-indent: -1000em;
    width: 177px;
}

.panel-heading {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: -15px -15px 15px;
    padding: 10px 15px;
}

.panel {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 15px;
}

* {
    -moz-box-sizing: border-box;
}

.margin-top-20 {
    margin-top: 20px;
}


.modal-body select, .modal-body input[type="text"]{
    height: 30px !important;
    width: 100%;
}


textarea {
    width: 100%;
}

#redirect_uri, #origin{
    margin-bottom: 0px!important;
    height: 30px !important;
    width: 90% !important;
}

#dialog-form-register-new-app textarea {
    height: auto;
}

.label-client-secret{
    font-size: 12px;
    color: darkgray;
    text-transform: uppercase;
    font-weight: bold;
}

#client_id, #client_secret{
    font-weight: normal;
}

.alert-error{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}


.popover-content{
    font-size: 12px;
}

.popover {
    width: auto;
    max-width: 800px;
}

.info{
    cursor: pointer;
}

.email-row{
    margin-top: 5px;
}

.error-modal{
    background-color: #F2DEDE !important;
    border-color: #EED3D7 !important;
    color: #B94A48 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
}

.error-modal .modal-footer{
    border-top: 1px solid #EED3D7 !important;
    background-color: #F2DEDE !important;
    border-color: #EED3D7 !important;
    color: #B94A48 !important;
    box-shadow: 0 1px 0 #EED3D7 inset !important;
}

.error-modal .modal-header{
    border-bottom: 1px solid #EED3D7 !important;
}

.error-modal .alert-heading{
    color: #B94A48;
    margin: 0;
}