
#logo a {
    background: url("../img/open-stack-cloud-computing-logo.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    height: 54px;
    margin-left: -10px;
    margin-top: 8px;
    text-indent: -1000em;
    width: 177px;
}
.panel-heading {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: -15px -15px 15px;
    padding: 10px 15px;
}
.panel {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 15px;
}
* {
    -moz-box-sizing: border-box;
}
.margin-top-20 {
    margin-top: 20px;
}

select, input[type="text"]{
    height: 30px !important;
}

#redirect_uri{
    margin-bottom: 0px!important;
}


#dialog-form-register-new-app select, input, textarea, .uneditable-input {
    width: 350px;
}

#dialog-form-register-new-app textarea {
    height: auto;
}


.label-client-secret{
    font-size: 12px;
    color: darkgray;
    text-transform: uppercase;
    font-weight: bold;
}

#client_id, #client_secret{
    font-weight: normal;
}

.alert-error{
    margin-top: 5px;
    margin-bottom: 5px;
}

#redirect_uri{
    width: 500px;
}

.popover-content{
    font-size: 12px;
}

.popover {
    width: auto;
    max-width: 800px;
}

.info{
    cursor: pointer;
}

.email-row{
    margin-top: 5px;
}

label.error{
    border: 1px solid #aaa;
    background: #aa2222;
    color: #fff;
    padding: 5px;
    margin: 0;
    width: 100%;
    float:left;
    -webkit-border-radius: 05px;
    -moz-border-radius: 05px;
    border-radius: 05px;
}
input.error{
    border: 1px solid  #aa2222;
}